.first-animation {
  position: absolute;
  top: 200px;
  height: 150px;
  width: 100%;
}
.first-animation ul {
  padding: 0px !important;
  text-decoration: none;
  position: absolute;
  top: 50px;
  margin-left: 0px auto;
  height: 100px;
  width: 100%;
  text-align: center;
}
.first-animation ul li {
  list-style: none;
  display: inline;
  font-size: 4rem;
  height: 180px;
  width: 180px;
  border-radius: 180px;
  padding: 15px;
  margin: 170px;
  position: relative;
}
.first-animation ul li span {
  color: white;
}
.first-animation ul li:nth-child(3):after {
  content: '';
  display: none;
}
.first-animation ul li:nth-child(1):after {
  content: "";
  position: absolute;
  left: 74px;
  height: 3px;
  width: 352px;
  top: 30px;
  background-color: #474747;
  animation-name: first-hr;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}
.first-animation ul li:nth-child(2):after {
  content: "";
  position: absolute;
  left: 74px;
  height: 3px;
  width: 352px;
  top: 30px;
  background-color: #474747;
  animation-name: first-hr;
  animation-duration: 20s;
  animation-fill-mode: forwards;
}
.first-animation ul li:nth-child(1) {
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.first-animation ul li:nth-child(2) {
  animation-name: example;
  animation-duration: 16s;
  animation-fill-mode: forwards;
}
.first-animation ul li:nth-child(3) {
  animation-name: example;
  animation-duration: 25s;
  animation-fill-mode: forwards;
}
.first-animation ul li:nth-child(1) span {
  animation-name: spanfirst;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.first-animation ul li:nth-child(2) span {
  animation-name: spanfirst;
  animation-duration: 16s;
  animation-fill-mode: forwards;
}
.first-animation ul li:nth-child(3) span {
  animation-name: spanfirst;
  animation-duration: 25s;
  animation-fill-mode: forwards;
}

@keyframes spanfirst {
  from {
    color: #2D3E51;
  }
  to {
    color: white;
  }
}
@keyframes first-hr {
  from {
    background-color: #474747;
  }
  to {
    background-color: #e5ab13;
  }
}
@keyframes example {
  from {
    background-color: white;
    border: 2px solid #474747;
  }
  to {
    background-color: #e5ab13;
    border: 1px solid white;
  }
}
@media screen and (max-width: 480px) {
  #check .heading-2 {
    margin-top: 20px;
    font-size: 26px;
  }
  #check .heading-1 {
    font-size: 30px;
    padding-top: 10px;
    margin-top: 10px;
  }
  #check ul {
    margin-right: 0px !important;
    padding-right: 0px !important;
  }
  #check ul li {
    width: 15%;
    margin-top: 10px !important;
    margin-right: 7px !important;
  }
  #check ul li:nth-child(1) {
    margin-left: 21px;
  }
  #check ul li:nth-child(5) {
    margin-right: 0px !important;
  }
  #check ul li:after {
    content: '';
    position: absolute;
    height: 3px;
    left: 17px;
    top: 8px;
    width: 53px;
  }
  #check ul li:nth-child(1):hover .icon-circle3, #check ul li:nth-child(2):hover .icon-circle3, #check ul li:nth-child(3):hover .icon-circle3, #check ul li:nth-child(4):hover .icon-circle3 {
    font-size: 30px;
  }
  #check ul .icon-circle3 {
    font-size: 20px;
  }
  #check ul .circle-text {
    padding-top: 2px;
    font-size: 1rem;
    left: -10px;
  }
  #check .switch {
    top: 5px;
  }
  #check .circle {
    height: 15px !important;
    width: 15px !important;
  }
  #check .btn-circle-5:hover {
    height: 20px !important;
    width: 20px !important;
    top: 10px;
    border-radius: 100%;
    border: 2px solid black;
  }
  #check .inside {
    height: 10px;
    width: 10px;
    top: 10px;
    left: 0px;
  }
  #check .inside:hover {
    height: 15px;
    width: 15px;
    top: 14px;
    left: 13px;
  }
}
#check .heading-1 {
  font-size: 40px;
  padding-top: 10px;
  margin-top: 10px;
}
#check .heading-2 {
  margin-top: 80px;
}
#check ul {
  position: relative;
  text-decoration: none;
  top: 30px;
  margin: 0px auto;
  padding: 0px !important;
  width: 100%;
  max-width: 1250px;
  height: 200px;
}
#check ul li {
  position: relative;
  list-style: none;
  float: left;
  margin-top: 50px !important;
  margin-right: 150px;
}
#check ul li:nth-child(1) {
  margin-left: 100px;
}
#check ul li:nth-child(1) .icon-circle3 {
  color: #e5ab13;
}
#check ul li a {
  top: 50px !important;
}
#check ul li:nth-child(1):hover .icon-circle3 {
  font-size: 60px;
}
#check ul li:nth-child(2) .icon-circle3 {
  color: #9AE7E0;
}
#check ul li:nth-child(2):hover .icon-circle3 {
  font-size: 60px;
}
#check ul li:nth-child(3) {
  color: #41BBD9;
}
#check ul li:nth-child(3):hover .icon-circle3 {
  font-size: 60px;
}
#check ul li:nth-child(4) {
  color: #3993EB;
}
#check ul li:nth-child(4):hover .icon-circle3 {
  font-size: 60px;
}
#check ul li:nth-child(5) {
  margin-right: 0px !important;
}
#check ul li:nth-child(5) .circle {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}
#check ul li:nth-child(5) .btn-circle-5 {
  background-color: white;
  border: 2px dashed black;
}
#check ul li:nth-child(5) .btn-circle-5:hover {
  height: 70px;
  width: 70px;
  top: -20px;
  border-radius: 100%;
  border: 2px solid black;
}
#check ul li:nth-child(5) .inside {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  background-color: white;
  position: absolute;
  transition: transform(180deg);
}
#check ul li:nth-child(5) .inside:hover {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  top: 14px;
  left: 13px;
}
#check ul li:after {
  content: '';
  position: absolute;
  height: 3px;
  left: 30px;
  top: 15px;
  width: 222px;
}
#check ul li:nth-child(1)::after {
  content: '';
  background-color: #e5ab13;
}
#check ul li:nth-child(2)::after {
  content: '';
  background-color: #9AE7E0;
}
#check ul li:nth-child(3)::after {
  content: '';
  background-color: #41BBD9;
}
#check ul li:nth-child(4)::after {
  content: '';
  border: 2px dashed black;
}
#check ul li:nth-child(1):hover {
  color: #e5ab13;
}
#check ul li:nth-child(2):hover {
  color: #9AE7E0;
}
#check ul li:nth-child(3):hover {
  color: #41BBD9;
}
#check ul li:nth-child(4):hover {
  color: #3B94E3;
}
#check ul li:nth-child(5):hover {
  color: black;
}

.switch {
  position: relative;
  display: block;
  max-width: 130px;
  height: 50px;
  top: 20px;
  margin: 0px auto;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00BD9A;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 43px;
  left: 4px;
  top: 12px;
  bottom: 4px;
  background-color: #2D3E51;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F0F9FC;
  border: 1px solid #00BD9A;
}
input:checked + .slider .celsius-sign {
  visibility: hidden;
}
input:checked + .slider .fahrenheit-sign {
  visibility: visible;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(43px);
  -ms-transform: translateX(43px);
  transform: translateX(43px);
}

.celsius-sign {
  position: absolute;
  right: 5px;
  font-size: 25px;
  top: 7px;
  z-index: 12;
}

.fahrenheit-sign {
  position: absolute;
  right: 5px;
  font-size: 25px;
  top: 7px;
  z-index: 11;
  visibility: hidden;
}

.icon-circle3 {
  font-size: 35px;
}

.circle-text {
  position: relative;
  left: -20px;
  padding-top: 5px;
  font-size: 2.5rem;
  width: 100px;
}

@media screen and (max-width: 480px) {
  #check .heading-2 {
    margin-top: 20px;
    font-size: 26px;
  }
  #check .heading-1 {
    font-size: 30px;
    padding-top: 10px;
    margin-top: 10px;
  }
  #check ul {
    margin-right: 0px !important;
    padding-right: 0px !important;
  }
  #check ul li {
    width: 15%;
    margin-top: 10px !important;
    margin-right: 7px !important;
  }
  #check ul li:nth-child(1) {
    margin-left: 19px;
  }
  #check ul li:nth-child(5) {
    margin-right: 0px !important;
  }
  #check ul li:after {
    content: '';
    position: absolute;
    height: 3px;
    left: 17px;
    top: 8px;
    width: 53px;
  }
  #check ul li:nth-child(1):hover .icon-circle3, #check ul li:nth-child(2):hover .icon-circle3, #check ul li:nth-child(3):hover .icon-circle3, #check ul li:nth-child(4):hover .icon-circle3 {
    font-size: 30px;
  }
  #check ul .icon-circle3 {
    font-size: 20px;
  }
  #check ul .circle-text {
    padding-top: 2px;
    font-size: 1rem;
    left: -10px;
  }
  #check .switch {
    top: 5px;
  }
  #check .circle {
    height: 15px !important;
    width: 15px !important;
  }
  #check .btn-circle-5:hover {
    height: 20px !important;
    width: 20px !important;
    top: 10px;
    border-radius: 100%;
    border: 2px solid black;
  }
  #check .inside {
    height: 10px;
    width: 10px;
    top: 10px;
    left: 0px;
  }
  #check .inside:hover {
    height: 15px;
    width: 15px;
    top: 14px;
    left: 13px;
  }
}
#text-list {
  background-color: #F0F9FC;
  position: absolute;
  width: 91.25%;
  left: 140px;
  height: 654px;
}
#text-list .heading-3 {
  color: #2D3E51;
  font-size: 35px;
  margin-top: 50px;
  padding-top: 40px;
}
#text-list .main-block {
  width: 500px;
  height: 350px;
  background-color: white;
  padding-top: 10px;
  border-radius: 25px;
  margin-top: 50px;
}
#text-list label input {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#text-list label input:checked ~ span.y {
  color: #e5ab13;
}
#text-list label span.y {
  color: #2D3E51;
}
#text-list ul {
  float: right;
  margin-left: 10px !important;
  margin-top: 5px;
}
#text-list ul li {
  float: left;
  list-style: none;
  padding: 0px 10px;
  margin-left: 0px;
}
#text-list ul li:hover {
  color: #00BD9A;
}
#text-list .first-checklist-items {
  width: 450px;
  padding-left: 15px;
  margin-top: 15px;
}
#text-list .text-icon {
  font-size: 20px;
  margin-left: 10px;
  width: 320px;
}
#text-list .text-icon:hover {
  color: #00BD9A;
}
#text-list .icon-eye2 {
  margin-left: 25px;
  position: relative;
  top: 6px;
}

@media screen and (max-width: 480px) {
  #text-list {
    width: 69.6%;
    left: 140px;
    min-height: 500px !important;
  }
  #text-list .first-checklist-items {
    width: 300px !important;
    padding-left: 0px !important;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 15px;
  }
  #text-list .first-checklist-items label {
    margin: 0px !important;
    padding: 0px !important;
  }
  #text-list .heading-3 {
    color: #2D3E51;
    font-size: 35px;
    margin-top: 10px;
    padding-top: 20px;
  }
  #text-list .main-block {
    width: 320px;
    height: 340px;
    background-color: white;
    padding-top: 5px;
    border-radius: 25px;
    margin-top: 30px;
  }
  #text-list ul {
    margin-left: 5px !important;
    margin-top: 5px;
  }
  #text-list ul li {
    padding: 0px 3px;
    margin-left: 0px;
    font-size: 20px;
  }
  #text-list ul .text-icon {
    font-size: 10px !important;
    margin-left: 0 !important;
    border: 1px solid red;
  }
  #text-list ul .text-icon:hover {
    color: #00BD9A;
  }
  #text-list ul .text-icon span .icon-eye2:before {
    content: "\e908";
    font-size: 50px !important;
  }
  #text-list ul .text-icon span .icon-eye2 {
    margin-left: 10px !important;
  }
  #text-list ul .icon-share-alt:before {
    content: "\e906";
    font-size: 20px;
  }
  #text-list ul .icon-download2:before {
    content: "\e90b";
    font-size: 20px;
  }
  #text-list ul .icon-envelope-o:before {
    content: "\e909";
    font-size: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

.first-block {
  padding-left: 0 !important;
}

.left-section {
  height: 70px;
  position: relative;
  top: 0px;
  left: 0px;
  background-color: #2D3E51;
  width: 140px;
  float: left;
}
.left-section img {
  width: 80px;
  height: 60px;
  position: absolute;
  top: 5px;
  left: 30px;
}

.right-section {
  float: left;
  height: 70px;
  background-color: #00BD9A;
  position: absolute;
  left: 140px;
  width: 91.25%;
  top: 0px;
}
.right-section p {
  position: relative;
  top: 10px;
  right: 10px;
  color: #F0F9FC;
  font-size: 3rem;
}

.fixed-block {
  width: 100%;
  background-color: #2D3E51;
  height: 70px;
  clear: both;
  margin-top: 0px;
  position: absolute;
  padding: 0px;
  left: 0px;
}
.fixed-block h3 {
  color: #F0F9FC;
  margin-left: 35px;
  font-size: 25px;
  margin-top: 17px;
}

.inner-wrapper {
  position: relative;
  top: 70px;
  left: 0px;
  width: 100%;
  min-height: 500px;
}
.inner-wrapper .row {
  margin: 0 !important;
}

.tabs-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.nav-tabs {
  float: left;
  border-bottom: 0;
  width: 140px;
  background-color: #2D3E51;
  height: 100%;
  position: fixed;
  margin-bottom: 0px !important;
  padding-bottom: 0px;
  padding-right: 0px !important;
}
.nav-tabs li {
  float: none;
  margin: 0 !important;
  font-size: 35px;
  list-style: none;
  padding: 20px 35px;
}
.nav-tabs li .active {
  color: #00BD9A;
}
.nav-tabs li a {
  border-width: 0 !important;
  color: white;
  margin-right: 0px !important;
}
.nav-tabs li a:hover {
  background-color: transparent !important;
  border-width: 0 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0 !important;
  border-width: 0 !important;
  background-color: transparent !important;
  color: #00BD9A !important;
}

.tab-content {
  margin-left: 140px;
  width: 91.1%;
}
.tab-content .tab-pane {
  display: none;
  width: 100%;
  margin-top: 0px !important;
  height: auto;
  position: relative;
  top: 0px;
  left: 0px;
}
.tab-content .active {
  display: block;
}

#circle h2 {
  margin-top: 0px;
  color: #2D3E51;
  padding: 40px 20px;
  font-size: 40px;
}

@media screen and (max-width: 480px) {
  .right-section {
    width: 70.7%;
  }
  .right-section p {
    font-size: 2.6rem;
    top: 14px;
  }

  #circle h2 {
    padding: 20px 10px;
    font-size: 25px;
    text-align: center;
  }

  .first-animation {
    top: 130px;
    width: 100%;
  }
  .first-animation ul {
    top: 30px;
    width: 100%;
  }
  .first-animation ul li {
    margin: 20px;
    font-size: 3rem !important;
    height: 180px;
    width: 180px;
    border-radius: 180px;
    padding: 5px;
  }
  .first-animation ul li:nth-child(1):after, .first-animation ul li:nth-child(2):after {
    content: "";
    position: absolute;
    left: 41px;
    width: 70px;
    top: 17px;
  }
  .first-animation ul li .icon-truck2, .first-animation ul li .icon-gift {
    font-size: 3rem !important;
  }

  .tab-content {
    width: 69.6%;
  }

  .nav-tabs {
    height: 85%;
  }
  .nav-tabs li {
    padding: 10px 35px;
  }

  .inner-wrapper {
    min-height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
