@import 'variables';
.first-animation {
	position: absolute;
	top:200px;
	height:150px;
	width:100%;
		ul {
			padding:0px !important;
		    text-decoration: none;
			position: absolute;
			top:50px;
			margin-left:0px auto; 
		    height:100px;
			width:100%;
			text-align:center;
					li {
						list-style: none;
						display:inline;
						font-size: 4rem;
						height:180px;
						width: 180px;
						border-radius: 180px;
						padding:15px;
						margin:170px;
						position: relative;
			 		
			 			span{
	 						color:white;
  						}
	     
				  		&:nth-child(3):after {
							content:'';
							display:none;
						}
						&:nth-child(1):after{
						content:"";
						position:absolute;
						left:74px;
						height:3px;
						width:352px;
						top:30px;
						background-color:#474747;
						animation-name: first-hr;
					    animation-duration: 6s;
						animation-fill-mode:forwards;
							
						}
						&:nth-child(2):after{
							content:"";
							position:absolute;
							left:74px;
							height:3px;
							width:352px;
							top:30px;
							background-color:#474747;
							animation-name: first-hr;
						    animation-duration: 20s;
							animation-fill-mode:forwards;
				        }
				        &:nth-child(1){
							animation-name: example;
							animation-duration:3s;
							animation-fill-mode:forwards;
						}
						&:nth-child(2){
							animation-name: example;
						    animation-duration: 16s;
							animation-fill-mode:forwards;
						}
						&:nth-child(3){
							animation-name: example;
						    animation-duration: 25s;
							animation-fill-mode:forwards;
					    }
					    &:nth-child(1) span{
							animation-name: spanfirst;
						    animation-duration: 3s;
							animation-fill-mode:forwards;	
					    }
	    
	   					&:nth-child(2) span{
							animation-name: spanfirst;
						    animation-duration: 16s;
							animation-fill-mode:forwards;	
							}

						&:nth-child(3) span{
							animation-name: spanfirst;
						    animation-duration: 25s;
							animation-fill-mode:forwards;	
							}

				    }
			}
	}


@keyframes spanfirst
{
    from {color:$darkGray;}
    to 	{color:white ;}
}
@keyframes first-hr {
    from {background-color: #474747;}
    to {background-color:#e5ab13;}
}
@keyframes example {
    from {background-color: white;border:2px solid #474747;}
    to {background-color:#e5ab13;border:1px solid white;}
}



@media screen and (max-width: 480px){
	.first-animation{
		top:130px;
		width:100%;
		ul{
			top:30px;
			width:100%;
			li{
				margin:20px;
				font-size: 3rem !important;
				height:180px;
				width: 180px;
				border-radius: 180px;
				padding:5px;
				&:nth-child(1):after,
				&:nth-child(2):after {
						content:"";
						position:absolute;
						left:41px;
						width:70px;
						top:17px;
					}
				.icon-truck2,.icon-gift {
  					font-size: 3rem !important;
				}
			}
		}
	}
}
@media only screen and (min-width:481px) and (max-width: 640px) {
.first-animation{
		top:180px;
		width:100%;
		ul{
			top:30px;
			width:100%;
			li{
			margin:30px !important;
			&:nth-child(1):after,
				&:nth-child(2):after {
						content:"";
						position:absolute;
						left:76px;
						width:65px;
						top:34px;
					}
			}
			 }
			}
		}