@import 'variables';
#check {
	.heading-1{
				font-size:40px;
				padding-top:10px;
				margin-top:10px;
			}
    .heading-2{
				margin-top:80px;
  			}
	ul {
		  position: relative;
		  text-decoration: none; 
		  top:30px;
		  margin:0px auto;
		  padding:0px !important;
		  width:100%;
		  max-width:1250px;
		  height:200px;
			li {
				  position: relative;
				  list-style:none;
				  float:left;
				  margin-top:50px !important;
				  margin-right:150px;
					&:nth-child(1){
								margin-left:100px;
								.icon-circle3{
								 	 color: #e5ab13;
					        		}
    							}
    				a{
		  				top:50px !important;
		  			}
    				&:nth-child(1):hover{
							    .icon-circle3{
									font-size:60px;
								    }
						  		}
					&:nth-child(2){
		  						.icon-circle3{
		 							color: #9AE7E0;
									}
								}
					&:nth-child(2):hover{
		  						.icon-circle3{
									font-size:60px;
		    						}
		  						}
					&:nth-child(3) {
									color: #41BBD9;
								    }
					&:nth-child(3):hover{
								.icon-circle3{
									font-size:60px;
									}
		 					   }
					&:nth-child(4) {
									color:#3993EB;
		    					}
		 			&:nth-child(4):hover{
								.icon-circle3{
									font-size:60px;
		    						}
		  						 }
					&:nth-child(5) {
						margin-right:0px !important;
						.circle{
			  					height:35px;
			  					width:35px;
			  					border-radius:100%;
								position: relative;
								top:0px; 
								left:0px;
								}
		
						.btn-circle-5{
								background-color: white;
								border:2px dashed black;
								&:hover{
										height:70px;
										width:70px;
										top:-20px;
										border-radius: 100%;
										border:2px solid black;
									}
								}
								.inside{
										height:30px;
									    width:30px;
										border-radius: 100%;
										top:0px; 
										left:0px;
										background-color:white;
										position:absolute;
										transition:transform(180deg);
										&:hover{
										height:40px;
									    width:40px;
										border-radius: 100%;
										background-color: black;
										position:absolute;
										top:14px; 
									    left:13px;
										}
									}
								}
		
		
					&:after{
							content:'';
						  	position: absolute;
						  	height:3px;
						  	left:30px;
						  	top:15px;
						  	width:222px;
						}
					&:nth-child(1)::after{
						  content:'';
						  background-color:#e5ab13; 
				        }
					&:nth-child(2)::after{
						  content:'';
						  background-color:#9AE7E0; 
				        }
					&:nth-child(3)::after{
						  content:'';
						  background-color: #41BBD9
				        }
					&:nth-child(4)::after{
						content:'';
						border:2px dashed black;
					}

					&:nth-child(1):hover{
					  	color: #e5ab13;
					  }
					&:nth-child(2):hover{
						color:#9AE7E0;
					}
					&:nth-child(3):hover{
		  				color:#41BBD9;
					}
					&:nth-child(4):hover{
		  				color:#3B94E3;
					}
					&:nth-child(5):hover{
		  			color:black;
					}
		
				}
		}
}
.switch {
		  position: relative ;
		  display:block ;
		  max-width: 130px ;
		  height: 50px;
		  top:20px ; 
		  margin:0px auto;
		 }
.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color:$darkGreen;
		  -webkit-transition: .4s;
		  transition: .4s;
			&:before {
						position: absolute;
						content: "";
						height: 26px;
						width: 43px;
						left: 4px;
						top:12px;
						bottom: 4px;
						background-color:$darkGray;
						-webkit-transition: .4s;
						transition: .4s;
	 				}
	 	}
input:checked + .slider {
  background-color: $white;
  border:1px solid $darkGreen;
  .celsius-sign{
  visibility:hidden;
  }
  .fahrenheit-sign{
  visibility:visible;
  }

}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(43px);
  -ms-transform: translateX(43px);
  transform: translateX(43px);

}
.celsius-sign{
	  position:absolute;
	  right:5px;
	  font-size: 25px;
	  top:7px;
	  z-index:12;
	}
	.fahrenheit-sign{
	  position:absolute;
	  right:5px;
	  font-size: 25px;
	  top:7px;
	  z-index:11;
	  visibility:hidden;
	}
.icon-circle3{
  font-size:35px;
}
.circle-text{
	position:relative;
	left:-20px;
	padding-top:5px;
	font-size: 2.5rem;
	width:100px;
}


@media screen and (max-width: 480px) {
#check{
   .heading-2{
		margin-top:20px;
		font-size: 26px;
  	}
  	.heading-1{
		font-size:30px;
		padding-top:10px;
		margin-top:10px;
	}
	ul{
		margin-right: 0px !important;
		padding-right:0px !important;
		li{
			width:15%;
			margin-top:10px !important;
			margin-right:7px !important;
			&:nth-child(1){
				margin-left:19px;
			}
			&:nth-child(5){
				margin-right:0px !important;
			}
    		&:after{
				content:'';
				position: absolute;
				height:3px;
				left:17px;
				top:8px;
				width:53px;
				}
			&:nth-child(1):hover,
			&:nth-child(2):hover,
			&:nth-child(3):hover,
			&:nth-child(4):hover{
				.icon-circle3{
					font-size:30px;
					}
			}
		}
			.icon-circle3{
				font-size:20px;
				}
			.circle-text{
				padding-top:2px;
				font-size:1rem;
				left:-10px;
				}
			}
		    .switch {
				  top:5px ; 
		 	}
		 	.circle{
			  	height:15px !important;
			  	width:15px !important;
			  }
		
				.btn-circle-5{
					&:hover{
						height:20px !important;
						width:20px !important;
						top:10px;
						border-radius: 100%;
						border:2px solid black;
					}
				}
				.inside{
					height:10px;
				 	width:10px;
					top:10px; 
					left:0px;
					&:hover{
						height:15px;
						width:15px;
						top:14px; 
						left:13px;
					}
				}
					
			}
		}