@import 'variables';
@import 'first-animation';
@import 'second-animation';
@import 'third-animation';
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
html,body{
	margin:0px;
	padding:0px;
	}
.wrapper{
	margin:0 !important;
	padding:0 !important;
}

.first-block{
	padding-left:0 !important;
}
.left-section{

	height:70px;
    position:relative;
    top:0px;
	left:0px; 
    background-color: $darkGray;
 	width:140px;
 	float: left;
   img{
		width:80px;
		height:60px;
		position:absolute;
		top:5px;
		left:30px;
	  }
}
.right-section{
	float:left;
	height:70px;
	background-color:$darkGreen;
    position:absolute;
    left:140px;
    width:91.25%;
    top:0px;
   p{
		position:relative;
		top:10px;
		right:10px;   
		color:$white;
		font-size:3rem;
		
	}
 }

.fixed-block{
	width:100%;
	background-color:$darkGray;	
 	height:70px;
	clear:both;
	margin-top:0px;
	position:absolute;
	padding:0px;
	left:0px;
	h3{
		color:$white;
		margin-left:35px;
		font-size: 25px;
		margin-top: 17px;
	}
}
.inner-wrapper{
	position:relative;
	top:70px;
	left:0px;
	width:100%;
	min-height:500px;
	.row{
	margin:0 !important;
	}
}
.tabs-left { 
	position:absolute;
	top:0px;
	left:0px;
	
	width:100%;

 }

.nav-tabs {
  float: left;
  border-bottom: 0;
  width:140px;
  background-color:#2D3E51;
  height:100%;
  position:fixed;
  margin-bottom: 0px !important;
  padding-bottom:0px;
  padding-right:0px !important;
	li {
	    float: none;
	    margin: 0 !important;
	    font-size: 35px;
	 	list-style:none; 
	 	padding:20px 35px; 
		.active {
	      color:#00BD9A;
		}
    a {
      border-width: 0 !important;
      color:white;
      margin-right:0px !important;
      &:hover {
      background-color:transparent!important;
      border-width:0 !important;
      }
    }
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border: 0 !important;
	border-width: 0 !important;
    background-color:transparent !important;
    color:$darkGreen !important;
 
}
.tab-content {
	  margin-left: 140px;
	  width:91.1%;
 	.tab-pane {
		    display:none;
		    width:100%;
		    margin-top:0px !important;
		    height:auto;
		    position:relative;
		    top:0px;
		    left:0px;
  		}
  	.active { display: block; }
}
#circle {
	h2{
	    margin-top:0px;
		color:$darkGray;
		padding:40px 20px;
		font-size:40px;
	}
}
@media screen and (max-width: 480px) {
    body {
        background-color: blue !important;
    }
    .right-section{
		width:70.7%;
		p{
			font-size: 2.6rem;
			top:14px;
		}
    }
    #circle {
		h2{
		    padding:20px 10px;
			font-size:25px;
			text-align: center;
		}
	}
	.first-animation{
		top:130px;
		width:100%;
		ul{
			top:30px;
			width:100%;
			li{
				margin:20px;
				font-size: 3rem !important;
				height:180px;
				width: 180px;
				border-radius: 180px;
				padding:5px;
				&:nth-child(1):after,
				&:nth-child(2):after {
						content:"";
						position:absolute;
						left:41px;
						width:70px;
						top:17px;
					}
				.icon-truck2,.icon-gift {
  					font-size: 3rem !important;
				}
			}
		}
	}
	.tab-content{
		width:69.6%;
	}
	.nav-tabs{
		height:85%;
		li{
			padding:10px 35px;
		}
	}
	.inner-wrapper{
		min-height:300px;
	}
						#text-list{
							width:69.6%;
							left:140px;
							height:500px;
							.first-checklist-items{
								width:300px !important;
								padding-left:0px !important;
								margin-top:5px;
								label{
								margin:0px !important;
								padding:0px !important;
								}
				
							 }
							.heading-3{
						    	color:$darkGray;
						      	font-size:35px;
						        margin-top:10px;
						        padding-top:20px;
							    }
							.main-block{
								width:320px;
								height:350px;
								background-color:darkGreen;
								padding-top:5px;
								border-radius:25px;
								margin-top:30px;
								}
								ul{
							margin-left:5px !important;
							margin-top:5px;
							li{
							   	padding:0px 2px;
							   	margin-left:0px;
							   	font-size: 20px;
								}
							.text-icon{
							font-size:10px !important;
							margin-left:0 !important;
							border:1px solid red;
							&:hover{
								color:$darkGreen;
							}
							span .icon-eye2:before {
							content: "\e908";
			 				 font-size: 50px !important;
							}
							span .icon-eye2{
								margin-left:10px !important;
							}
						}
						
						
			 			
						.icon-share-alt:before {
						  content: "\e906";
						  font-size: 20px;
						}
						.icon-download2:before {
						  content: "\e90b";
						   font-size: 20px;
						}
						.icon-envelope-o:before {
						  content: "\e909";
						  font-size: 20px;
						}

				}
		}
	}

