#text-list{
		background-color:$white;
		position:absolute;
		width:91.25%;
		left:140px;
		height:654px;
		.heading-3{
		    	color:$darkGray;
		      	font-size:35px;
		        margin-top:50px;
		        padding-top:40px;
			    }
		.main-block{
				width:500px;
				height:350px;
				background-color:white;
				padding-top:10px;
				border-radius:25px;
				margin-top:50px;
				}
		label {
			input {
			  	opacity: 0;
			  	width: 0;
			  	height: 0;
			  	overflow: hidden;
			  	margin: 0;
			  	padding: 0;
			 	&:checked ~span.y {
 						color:$yellow; 
					}
			  }
			span.y {
				color:$darkGray;
			}
		}
			ul{
				float:right;
				margin-left:10px !important;
				margin-top:5px;
				li{
					float:left;
				   	list-style:none;
				   	padding:0px 10px;
				   	margin-left:0px;
				   	&:hover{
						color:$darkGreen;
					}
				}
			}
			.first-checklist-items{
				width:450px;
				padding-left:15px;
				margin-top:15px;
				
			 }
			.text-icon{
				font-size:20px;
				margin-left:10px;
				width:320px;
				&:hover{
					color:$darkGreen;
				}
			}
			.icon-eye2{
				margin-left:25px;
				position:relative;
				top:6px;
			}
 			
		}
@media screen and (max-width: 480px){
	#text-list { background-color:blue;
							width:69.6%;
							left:140px;
							height:500px;
							.first-checklist-items{
								width:300px !important;
								padding-left:0px !important;
								margin-top:5px;
								padding-bottom:5px;
								padding-top:15px;
								label{
								margin:0px !important;
								padding:0px !important;
								}
				
							 }
							.heading-3{
						    	color:$darkGray;
						      	font-size:35px;
						        margin-top:10px;
						        padding-top:20px;
							    }
							.main-block{
								width:310px;
								height:320px;
								background-color:white;
								padding-top:5px;
								border-radius:25px;
								margin-top:30px;
								}
								ul{
								margin-left:2px !important;
								margin-top:5px;
							li{
							   	padding:0px 2px;
							   	margin-left:0px;
							   	font-size: 20px;

								}
							.text-icon{
							font-size:10px !important;
							margin-left:0 !important;
							border:1px solid red;
							&:hover{
								color:$darkGreen;
							}
							span .icon-eye2:before {
							content: "\e908";
			 				 font-size: 50px !important;
							}
							span .icon-eye2{
								margin-left:10px !important;
							}
						}
						
						
			 			
						.icon-share-alt:before {
						  content: "\e906";
						  font-size: 20px;
						}
						.icon-download2:before {
						  content: "\e90b";
						   font-size: 20px;
						}
						.icon-envelope-o:before {
						  content: "\e909";
						  font-size: 20px;
						}

				}
		}
	}
